:root {
    --header: #E2E8F0;
    --bkg: #F8FAFC;
    --title: #020618;
    --text: #1D293D;
    --primaria: #1A73E8;
    --primaria2: #1250a0;
}

.dark-theme {
    --header: #0F172B;
    --bkg: #020618;
    --title: #F8FAFC;
    --text: #E2E8F0;
    --primaria: #1A73E8;
    --primaria2: #1250a0;
}

main {
    background-color: var(--bkg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
    color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title);
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;

    background-color: var(--bkg);
}

main {
    display: flex;
    flex-direction: column;
}